body {
    background-color: #fff;
}

table {
    table-layout: fixed;
}

td {
    word-wrap: break-word;
}

@media screen and (max-width: 576px) {
    .hideInSmall {
        display: none;
    }
}
.input-group.has-validation>.dropdown-toggle:nth-last-child(n+4), .input-group.has-validation>.form-floating:nth-last-child(n+3)>.form-control, .input-group.has-validation>.form-floating:nth-last-child(n+3)>.form-select, .input-group.has-validation>:nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-radius: 0.375rem;
}